.main-nav {
  background: linear-gradient(90deg, rgba(12, 152, 185, 1) 0%, rgba(51, 190, 109, 1) 100%);
  border-radius: 36.5px;
  height: 4.5625rem;
  margin: 10px 0px;
  /* position: relative; */
  font-family: poppins-medium;
  min-width: 100%;
  justify-content: space-around;
}

.main-nav .logo {
  font-size: 1.355625rem;
  color: white;
  cursor: default;
}

.main-nav .gallery {
  font-size: 1.301875rem;
  background-color: white;
  border-radius: 20px;
  padding: 0.475rem 1.95625rem;
  color: #21ac91;
  cursor: pointer;
  box-shadow: 0px 3px 10px #00000055;
  transition: background-color 0.3s;
}

.main-nav .gallery:hover {
  background-color: rgba(255, 255, 255, 0.673);
}

.main-nav .about {
  font-size: 1.301875rem;
  color: white;
}
