.main-nav {
  background: linear-gradient(90deg, rgba(12, 152, 185, 1) 0%, rgba(51, 190, 109, 1) 100%);
  border-radius: 36.5px;
  height: 4.5625rem;
  margin: 10px 0px;
  /* position: relative; */
  font-family: poppins-medium;
  min-width: 100%;
  justify-content: space-between;
}

.main-nav .logo {
  font-size: 1.355625rem;
  color: white;
  cursor: default;
  padding-inline-start: 5.5rem;
}

.main-nav .nav-options {
  justify-content: space-between;
}

.main-nav .gallery {
  font-size: 1.301875rem;
  color: white;
  cursor: pointer;
  padding-inline-start: 1.95625rem;
  padding-inline-end: 1.95625rem;
  padding-block-start: 0.475rem;
  padding-block-end: 0.475rem;
  border-radius: 20px;
  transition: color 0.5s border-radius 0.5s;
  transition: background-color 0.5s;
}

.main-nav .about {
  font-size: 1.301875rem;
  color: white;
  margin-inline-start: 1rem;
  margin-inline-end: 5rem;
  padding-inline-start: 1.95625rem;
  padding-inline-end: 1.95625rem;
  padding-block-start: 0.475rem;
  padding-block-end: 0.475rem;
  border-radius: 20px;
  transition: color 0.5s border-radius 0.5s;
  transition: background-color 0.5s;
}

.gallery:hover,
.about:hover {
  background-color: white;
  color: #21ac91;
}
