.meme-generator {
  /* max-width: 1600px; */
  padding: 0px 20px;
  /* margin: 0 auto; */
}

.gallery-container {
  padding: 2.8125rem 4rem;
  background-color: #383b42;
  /* padding-inline-start: 22.575rem; */
  border-radius: 10px;
}

.search-input {
  background-color: #22252c;
  border-radius: 29px;
  width: 33.8125rem;
  line-height: 3.625rem;
  margin-bottom: 2.8125rem;
  padding-left: 1rem;
  font-size: 1.301875rem;
  border: none;
  font-family: poppins-light;
}

input.search-input {
  background-image: url(/icons/search-icon.png);
  background-repeat: no-repeat;
  background-position-x: 30rem;
  background-position-y: 0.8rem;
}

.sort-by {
  /* box-sizing: content-box; */
  height: 3.625rem;
  background-color: #c2c2c2b6;

  padding-inline-start: 10rem;
  padding-inline-end: 5rem;
  padding-block-start: 0.5rem;
  padding-block-end: 1.5rem;
  color: white;
  border-radius: 50px;
  font-family: poppins-regular;
}

.more-btn {
  height: 2.5rem;
  border-radius: 18px;
  font-family: poppins-light;
  color: white;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-block-start: 0.3rem;
  margin-block-start: 0.5rem;
  margin-inline-start: 9rem;
  font-size: 1.19875rem;
  background: linear-gradient(90deg, rgba(12, 152, 185, 1) 0%, rgba(51, 190, 109, 1) 100%);
}

.meme-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(199.55px, 1fr));
  grid-gap: 20px;
}

.meme-img {
  max-width: 100%;
  border-radius: 10px;
  transition: transform 0.5s box-shadow 0.2s;
  cursor: pointer;
}

.meme-img:hover {
  box-shadow: 3px 3px 10px black;
  transform: translateY(-2px);
}
